@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

header {
  padding: 1.5rem 2.5rem;
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav figure {
  cursor: pointer;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  font-size: 0.85em;
}

header nav ul li {
  padding: 1rem 1.35rem;
  cursor: pointer;
}

header nav ul li.menu__item--emphasis {
  background-color: white;
  color: #19536b;
  font-family: "Fraunces", serif;
  border-radius: 30px;
  text-transform: uppercase;
}

header nav ul li.menu__item--emphasis:hover {
  color: white;
  background-color: #73d7f8;
}

header nav .menu-button {
  display: none;
}

.section-1 {
  padding: 100px 2.5rem 1.5rem;
  height: 100vh;
  background: url("./images/desktop/image-header.jpg") no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.section-1__heading {
  font-size: 3rem;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  position: relative;
  top: 10%;
}

.section-1__arrow {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-1__arrow__line {
  height: 100px;
  border: 2px solid white;
}

.section-1__arrow__triangle {
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(45deg) translateX(calc(-50% - 5px));
          transform: rotate(45deg) translateX(calc(-50% - 5px));
  border: solid white;
  border-width: 0 4px 4px 0;
}

.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}

.section-2 > * {
  margin-top: -4px;
}

.section-2__elaborate-features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

.section-2__elaborate-features__image__mobile {
  display: none;
}

.section-2__elaborate-features__image img {
  width: 100%;
}

.section-2__elaborate-features:nth-child(2) figure {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / span 1 / span 1;
}

.section-2__elaborate-features__item {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.section-2__elaborate-features__item__heading {
  font-size: 2.25rem;
  font-family: "Fraunces", serif;
  color: #19536b;
}

.section-2__elaborate-features__item__description {
  font-size: 0.75em;
  line-height: 1.4rem;
  color: #818498;
}

.section-2__elaborate-features__item__button {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-size: 0.8em;
  position: relative;
  z-index: 99;
  cursor: pointer;
}

.section-2__elaborate-features__item__button::before {
  position: absolute;
  content: "";
  width: 110%;
  left: -5%;
  top: 75%;
  opacity: 0.7;
  z-index: 1;
  height: 7px;
  border-radius: 5px;
}

.section-2__elaborate-features__item__button.yellow::before {
  background-color: #fad400;
}

.section-2__elaborate-features__item__button.red::before {
  background-color: #fe7867;
}

.section-2__elaborate-features__item__button:hover::before {
  opacity: 1;
}

.section-2__brief-features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.section-2__brief-features__item {
  position: relative;
}

.section-2__brief-features__item__image img {
  width: 100%;
}

.section-2__brief-features__item__image__mobile {
  display: none;
}

.section-2__brief-features__item__content {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section-2__brief-features__item__content__heading {
  font-size: 1.75rem;
  font-family: "Fraunces", serif;
}

.section-2__brief-features__item__content__description {
  font-size: 0.8em;
  line-height: 1.3rem;
}

.section-2__brief-features__item__content.cyan {
  color: #25564b;
}

.section-2__brief-features__item__content.blue {
  color: #19536b;
}

.section-3 {
  margin-top: -4px;
  padding: 7.5rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #faecea;
}

.section-3__heading {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #818498;
}

.section-3__testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.section-3__testimonial__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.section-3__testimonial__item__image {
  text-align: center;
}

.section-3__testimonial__item__image img {
  width: 50%;
  border-radius: 50%;
}

.section-3__testimonial__item__testimony {
  font-size: 0.9em;
  color: #818498;
  text-align: center;
  line-height: 1.5rem;
}

.section-3__testimonial__item__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-3__testimonial__item__profile__name {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 0.9em;
}

.section-3__testimonial__item__profile__position {
  font-size: 0.7em;
  color: #a7abae;
}

.section-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.section-4__image__mobile {
  display: none;
}

.section-4__image img {
  width: 100%;
  aspect-ratio: 1;
}

footer {
  margin-top: -4px;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #73d7f8;
}

footer .logo img {
  width: 100%;
  cursor: pointer;
}

footer .navigation ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.5rem;
}

footer .navigation ul li {
  color: #458c7e;
  cursor: pointer;
}

footer .navigation ul li:hover {
  color: white;
}

footer .media-links {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    padding: 1.5rem;
  }
  header nav ul {
    display: none;
  }
  header nav .menu-button.show {
    display: block;
  }
  .section-1__heading {
    font-size: 2.5rem;
  }
  .section-2__elaborate-features {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  .section-2__elaborate-features__item {
    padding: 2.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-2__elaborate-features:nth-child(1) figure {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / span 1 / span 1;
  }
  .section-2__brief-features {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .section-2__brief-features__item__image {
    margin-top: -4px;
  }
  .section-2__brief-features__item__image img {
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section-2__brief-features__item__content {
    width: 90%;
  }
  .section-3 {
    padding: 3rem 2rem;
  }
  .section-3__heading {
    font-size: 1rem;
  }
  .section-3__testimonial {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
  }
  .section-3__testimonial__item {
    gap: 1.5rem;
  }
  .section-4 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .section-4__image {
    margin-top: -4px;
  }
}

@media (max-width: 500px) {
  .section-1 {
    background: url("./images/mobile/image-header.jpg") no-repeat;
    background-size: cover;
  }
}
/*# sourceMappingURL=styles.css.map */